.gradiant {
    text-transform: uppercase;
    background: linear-gradient(to right, var(--primary) 0%, #16539e87 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@property --services_light {
    syntax: '<color>';
    initial-value: #eff7ff;
    inherits: false;
}

@property --services_dark {
    syntax: '<color>';
    initial-value: rgba(255, 255, 255, 0);
    inherits: false;
}

.ServicesImg {
    width: 380px;
}

.services-card {
    background: linear-gradient(var(--services_light), var(--services_dark));
    background-color: var(--white);
    margin-bottom: 30px;
    border-radius: 26px;
    transition: --services_light .3s, --services_dark .3s;
}

.services-card:hover {
    --services_light: #eff7ff;
    --services_dark: rgba(233, 233, 233, 0.3);
}

.services-card:nth-child(even) .row {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .ServicesImg {
        width: 313px;
    }
}

@media (max-width: 480px) {
    .services-card {
        --services_light: #d9edff;
        --services_dark: rgba(233, 233, 233, 0.3);
    }
}