@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.scroll-down {
    font-family: var(--thm-font);
    bottom: 0;
    height: 72px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 1;
}

.scroll-down-text {
    color: var(--light);
    letter-spacing: 4px;
    font-weight: 100;
}

.scroll-down-bar {
    background: #ffffff;
    bottom: 0;
    display: inline-block;
    height: 43px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 2px;
}

.scroll-down-bar::before {
    animation: scrollDown 1.5s infinite;
    background: var(--primary);
    content: '';
    display: inline-block;
    height: 14px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 1;
}

@-moz-keyframes scrollDown {
    0% {
        transform: translate3d(0, -92px, 0);
    }

    50% {
        animation-timing-function: ease-out;
        transform: translate3d(0, 0, 0);
    }

    100% {
        animation-timing-function: ease-in;
        transform: translate3d(0, 65px, 0);
    }
}

@-webkit-keyframes scrollDown {
    0% {
        transform: translate3d(0, -32px, 0);
    }

    50% {
        animation-timing-function: ease-out;
        transform: translate3d(0, 0, 0);
    }

    100% {
        animation-timing-function: ease-in;
        transform: translate3d(0, 65px, 0);
    }
}

@-o-keyframes scrollDown {
    0% {
        transform: translate3d(0, -32px, 0);
    }

    50% {
        animation-timing-function: ease-out;
        transform: translate3d(0, 0, 0);
    }

    100% {
        animation-timing-function: ease-in;
        transform: translate3d(0, 65px, 0);
    }
}

@keyframes scrollDown {
    0% {
        transform: translate3d(0, -32px, 0);
    }

    50% {
        animation-timing-function: ease-out;
        transform: translate3d(0, 0, 0);
    }

    100% {
        animation-timing-function: ease-in;
        transform: translate3d(0, 65px, 0);
    }
}

.mouse {
    width: 34px;
    height: 62px;
    border: 2px solid #fff;
    border-radius: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    backdrop-filter: blur(8px);
    box-shadow: -4px 1px 58px #ffffffd6;
    /* mix-blend-mode: difference; */
    filter: saturate(1);
}

.mouse::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}