.technologiesImg {
    padding-inline: 14px;
    padding-block: 24px;
}

.technologiesImg>img {
    filter: drop-shadow(-28px 28px 13px #ddd);
}
@media (max-width: 768px) { 
    .technologiesImg {
        padding-inline: 0px;
        padding-block: 14px;
      }
}

 