.theme-btn {
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.theme-btn i {
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin-left: 3px;
}

.btn-style-one {
    position: relative;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background: var(--primary);
    color: var(--white);
    border-radius: 5px;
    overflow: hidden;
    font-family: var(--thm-font);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn-style-one .btn-title {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding: 12px 34px ;
    z-index: 1;
}

.btn-style-one:hover {
    background: var(--primary);
    color: #ffffff;
}

.theme-btn:hover {
    text-decoration: none;
}

.btn-style-one .btn-curve {
    position: absolute;
    right: -15px;
    top: 0;
    width: 26px;
    height: 100%;
    background: var(--dark);
    opacity: 0.2;
    z-index: 0;
    -webkit-transform: skewX(-22deg);
    transform: skewX(-22deg);
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.btn-style-one:hover .btn-curve {
    opacity: 1;
    right: 0;
    width: 100%;
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
}

/*Btn Style Two*/
.btn-style-two {
    position: relative;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background: var(--dark);
    color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    font-family: var(--thm-font);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn-style-two .btn-title {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    padding: 12px 34px ;
    z-index: 1;
    letter-spacing: 0.1em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.btn-style-two:hover {
    color: var(--dark);
}

.btn-style-two .btn-curve {
    position: absolute;
    right: -15px;
    top: 0;
    width: 26px;
    height: 100%;
    background: #ffffff;
    opacity: 0.2;
    z-index: 0;
    -webkit-transform: skewX(-22deg);
    transform: skewX(-22deg);
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.btn-style-two:hover .btn-curve {
    opacity: 1;
    right: 0;
    width: 100%;
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
}

.btn-style-three {
    background-color: var(--primary);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 22.5px 40px;
    font-family: var(--thm-font); 
    display: inline-flex; 
    align-items: center;
    line-height: 1;
}

.btn-style-three:hover {
    background-color: var(--dark);
    color: #fff;
}