.about-section {
    background: var(--primary);
}

.about-section .circle {
    position: absolute;
    top: 50%;
    right: -78px;
    width: 628px;
    height: 628px;
    z-index: 0;
    background: #ffffff70;
    border-radius: 50%;
    transform: translateY(-50%);
}

.aboutimg {
    position: relative;
    z-index: 1;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        filter: drop-shadow(5px 15px 20px rgba(0, 0, 0, 0.3));
        transform: translatey(0px);
    }

    50% {
        filter: drop-shadow(25px 15px 20px rgba(0, 0, 0, 0.2));
        transform: translatey(-20px);
    }

    100% {
        filter: drop-shadow(5px 15px 40px rgba(0, 0, 0, 0.3));
        transform: translatey(0px);
    }
}

.about-instruction {
    background: url("../Assets/About/about_2.png") no-repeat center/cover;
    background: rgb(255, 255, 255);
}

.what-we-do {
    background: url("../Assets/pattern-bg.png") no-repeat center/cover;
}

.about-instruction .imgSec {
    margin-top: 146px;
}


.service-sec .inner-sec {
    position: relative;
    display: block;
    padding: 50px 45px;
    /* background: #1c1e22; */
    min-height: 100%;
    border-radius: 7px;
    overflow: hidden;
    transition: all 500ms ease;
}

.service-sec .inner-sec .icon-box {
    position: absolute;
    right: 45px;
    top: 50px;
    color: var(--primary);
    font-size: 64px;
    line-height: 1em;
    transition: all 0.5s ease;
}

.service-sec .inner-sec h6 {
    position: relative;
    margin: 0;
    margin-top: 90px;
    font-size: 26px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.1em;
}

.service-sec .inner-sec h6 a {
    color: var(--primary);
    transition: all 0.5s ease;
}

.service-sec .inner-sec:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: linear-gradient(var(--services_light), var(--services_dark));
    overflow: hidden;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 4%);
    transition: --services_light .3s, --services_dark .3s;
    width: 100%;
    height: 100%;
    z-index: 0
}

.service-sec .inner-sec:hover:before {
    /* background: var(--dark);  */
    --services_light: #c9e4ff;
    --services_dark: rgba(233, 233, 233, 0.3);
}

.service-sec .inner-sec:hover {
    /* background: var(--primary); */
}

.service-sec .inner-sec a:hover {
    text-decoration: underline;
}

.service-sec .inner-sec:hover .icon-box {
    /* color: var(--white); */
}

.service-sec .inner-sec:hover .bottom-curve {
    transform: skewX(-35deg) scaleX(1);
}

.service-sec .inner-sec .bottom-curve {
    position: absolute;
    right: -70px;
    bottom: 0;
    width: 100px;
    height: 80%;
    background: var(--dark);
    opacity: 0.2;
    z-index: 0;
    transform: skewX(0deg) scaleX(0);
    transition: all 0.5s ease;
}

.service-sec {
    position: relative;
    margin-bottom: 30px;
}

.what-we-do .row .service-sec .inner-sec::after {
    content: attr(count);
    position: absolute;
    left: 45px;
    top: 50px;
    font-size: 50px;
    line-height: 1em;
    color: #000000;
    opacity: 0.2;
    font-family: var(--thm-font);
    font-weight: 600;
    z-index: 1;
}

.aboutsecimg {
    /* position: absolute;
    top: 0; */
}

.about-section .circle.circle-1 {
    position: absolute;
    left: -78px;
    width: 228px;
    height: 228px;
    background: #ffffff40;
    border-radius: 50%;
    z-index: 0;
    top: 594px;
}



@media (max-width: 1200px) {
    .what-we-do .sec-title {
        margin-bottom: 42px;
    }
}

@media (max-width: 992px) {
    .about-instruction .imgSec {
        margin-top: 22px;
    }

    .about-instruction {
        padding-block: 66px !important;
    }
}

@media (max-width: 480px) {
    .about-section .circle.circle-1 {
        top: 661px;
    }
}