.filters {
    position: relative;
    margin-bottom: 40px;
}

.filters .filter-tabs {
    position: relative;
    display: block;
}

.filters .filter {
    transition: all .3s ease;
    color: rgb(156, 156, 156);
}

.filters .filter.active {
    transition: all .3s ease;
    color: var(--dark);
    /* font-weight: 400; */
    /* padding-right: 20px; */
}

.mix {
    /* display: none; */
}

/* .gallery-item {
    display: inline-block;
} */
.filter-tabs .filter:nth-child(1) {
    margin-left: 12px;
}

.filters.centered li {
    margin: 0px 15px 10px;
}

.filters li.active:before {
    transform: scaleX(1);
}

.filters li:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid var(--primary);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 300ms ease;
}

.filters li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    line-height: 40px;
    padding: 0px 0px;
    cursor: pointer;
    color: var(--thm-text);
    font-weight: 300;
    margin: 0 0px 10px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: none;
    transition: all 300ms ease;
    font-family: var(--thm-font);
}

.filtertabs {

    font-size: 18px !important;
    font-weight: 500 !important;
}