.call-to-section .inner {
    position: relative;
    display: block;
    padding: 95px 95px 68px;
    background: var(--primary);
    color: var(--dark);
    border-radius: 7px;
    overflow: hidden;
    /* bottom: -60px;
    margin-top: -60px; */
}

.call-to-section {
    position: relative;
    padding: 0;
    z-index: 1;
}

.call-to-section .shape-1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 340px;
    max-width: 100%;
    height: 100%;
    background: url(../Assets/LetsTalk.png) right top no-repeat;
    z-index: 1;
}

.call-to-section .shape-2 {
    position: absolute;
    right: 170px;
    top: 0;
    width: 410px;
    height: 54px;
    background: url(../Assets/LetsTalk-2.png) right top no-repeat;
    z-index: 0;
}

.call-to-section .link-box {
    position: relative;
    float: right;
    padding-top: 12px;
    z-index: 3;
}

.call-to-section h2 {
    position: relative;
    float: left;
    display: block;
    font-size: 60px;
    line-height: 1;
    text-transform: capitalize;
    color: var(--white);
    font-weight: 500;
    margin: 0px 0px 25px;
    z-index: 3;
}

@media (max-width:992px) {
    .call-to-section .inner {
        padding: 55px 44px;
    }

    .call-to-section h2 {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .mobile-nav__container li a {
        color: #666666;
        font-size: 14px;
    }

    .call-to-section .inner {
        padding: 38px 28px;
    }

    .call-to-section .shape-2 {
        right: 68px;
        width: 416px;
        height: 56px;
    }

    .call-to-section .container {
        max-width: 94%;
    }
}


@media (max-width: 480px) {
    .call-to-section .container {
        max-width: 100%;
    }
}