.para-team {
    line-height: 20px !important;
}

.t-img {
    height: 350px;
}

.teams-card {
    visibility: visible;
    animation-duration: 0.3s;
    animation-delay: 0.5s;
    animation-name: tpfadeUp;
    transition: all .3s ease;
}

@keyframes tpfadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tpteam {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
}

.mb-30 {
    margin-bottom: 30px;
}

.tpteam__shape-1 {
    position: absolute;
    top: -70px;
    left: -60px;
    z-index: 2;
    transition: 0.6s;
}

.tpteam__shape-2 {
    position: absolute;
    bottom: -70px;
    right: -60px;
    z-index: 2;
    transition: 0.6s;
}

.tpteam__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    transition: 0.3s;
    width: 100%;
}

.teams-card img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tpteam__thumb {
    height: 100%;
}

.tpteam__thumb img {
    border-radius: 10px;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}

.tpteam:hover .tpteam__shape-1 {
    left: 0;
    top: 0;
}

.tpteam:hover .tpteam__shape-2 {
    right: 0;
    bottom: 0;
}

.teams-card.gallery-item .cap-box {
    display: none;
}

@media (max-width: 550px) {
    .teams-card.gallery-item .cap-box {
        display: block;
    }

    .tpteam::after {
        display: none;
    }

    .teams-card.gallery-item .cap-box .cat span {
        font-size: 12px;
    }

    .teams-card.gallery-item .cap-box .cap-inner {
        padding: 18px 32px;
        border-radius: 8px;
    }

    .teams-card.gallery-item .cap-box h5 a {
        font-size: 24px;
    }

    .tpteam__shape-1,
    .tpteam__shape-2,
    .tpteam__content {
        display: none;
    }

    .teams-card.gallery-item .cap-box {
        opacity: 1;
        transform: translateY(4px);
    }

}

.tpteam:hover::after {
    opacity: 1;
    visibility: visible;
}

.tpteam::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.tpteam:hover .tpteam__content {
    opacity: 1;
    visibility: visible;
}

.tp-team-sm-subtitle {
    font-size: 12px;
    font-weight: 500;
    transition: 0.3s;
    padding-bottom: 5px;
    margin-bottom: 4px;
}

.tpteam__content a {
    color: #fff !important;

}

.tp-team-sm-title {
    margin-bottom: 4px;
    font-size: 22px;
    font-weight: 500;
    transition: 0.3s;
}

.tpteam__content>a {
    margin-inline: 12px;
}

.shape-1 {
    filter: saturate(0) brightness(.2)
}