 .bluredHeader {
     position: relative;
     width: 100%;
     height: calc(75vh + 86px);
     z-index: -1;
     top: 0;
     left: 0;
 }

 .bluredHeader>div.blur {
     width: 100%;
     height: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center; 
 }

 .bannerLogo>img {
     width: 298px;
 }
