@media only screen and (max-width: 1199px) {
    .heading {
        font-size: 60px;
        line-height: 1em;
    }
}

.heading {
    position: relative;
    display: block;
    font-size: 46px;
    line-height: 1.2;
    text-transform: capitalize;
    color: var(--thm-black);
    font-weight: 600;
    margin-bottom: 0px;
}

.heading .dot {
    color: var(--primary);
    padding-left: 7px;
}


p.para {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
    color: var(--thm-text);
    padding: 14px 0px 0px;
}

.gallery-item {
    display: inline-block;
}

.gallery-item .inner-box .image {
    position: relative;
    border-radius: 7px;
}

figure {
    margin: 0;
}

.shape-circle {
    position: absolute;
    top: -140px;
    right: -140px;
    z-index: -1;
    text-align: end;
}

.shape-circle>img {
    width: 700px;
    opacity: .2;
}

.gallery-item .cap-box h5 {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
}

.gallery-item .cap-box .cat span {
    position: relative;
    display: inline-block;
    margin-bottom: 6px;
    vertical-align: middle;
    padding-right: 48px;
}

.gallery-item .inner-box {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}

.gallery-item .inner-box:hover .cap-box {
    opacity: 1;
    transform: translateY(0px);
}

.gallery-item {
    position: relative;
    margin-bottom: 30px;
}

.gallery-item .inner-box:hover .image img {
    filter: grayscale(0%);
}

.gallery-item .cap-box .cap-inner {
    position: relative;
    display: block;
    padding: 25px 35px;
    background: var(--dark);
    border-radius: 7px;
}

.gallery-item .cap-box h5 a {
    color: #ffffff;
}

.gallery-item .cap-box .cat {
    position: relative;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: var(--thm-font);
}

.gallery-item .cap-box .cat span:before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1px;
    width: 38px;
    border-bottom: 2px solid var(--primary);
}

.gallery-item .inner-box .image img {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: all 300ms ease;
    border-radius: 7px;
}

.gallery-item .cap-box {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    color: #ffffff;
    opacity: 0;
    transform: translateY(200px);
    transition: all 500ms ease;
}

.head {
    position: relative;
    margin-bottom: 30px;
}


.portfolio-masonary__box {
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.portfolio-masonary__box-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--primary-rgb), 0.9);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 60px;
    transform: translateY(30%);

    opacity: 0;
    transition: transform 500ms ease, opacity 500ms ease;
}

.portfolio-masonary__box:hover .portfolio-masonary__box-content {
    opacity: 1;
    transform: translateY(0);
}

.portfolio-masonary__box .portfolio-masonary__box-content :is(p, a) {
    color: var(--light);
}

.portfolio-masonary__box:hover img {
    filter: grayscale(0);
}

.portfolio-masonary__box img {
    width: 100%;
    filter: grayscale(100%);
    transition: 500ms ease;
}

.portfolio-masonary__box-content p {
    margin: 0;
    color: var(--dark);
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: var(--thm-font);
}

.portfolio-masonary__box-content p::after {
    width: 40px;
    height: 2px;
    background-color: var(--light);
    margin-left: 10px;
    content: "";
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: var(--primary);
    transform-origin: 0%;
    z-index: 9999999;
}

::-webkit-scrollbar {
    display: none;
}

.servicez .inner-box:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    border-radius: 7px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 4%);
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 4%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.servicez .inner-box {
    position: relative;
    display: block;
    padding: 50px 45px 40px;
    background: #ffffff;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 5%);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 5%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    height: 100%;
}

.servicez {
    position: relative;
    margin-bottom: 30px;
}

.servicez .inner-box:hover .bottom-curve {
    transform: skewX(-45deg) scaleX(1);
}

.servicez .inner-box .bottom-curve {
    position: absolute;
    right: -70px;
    bottom: -10px;
    width: 120px;
    height: 120px;
    background: #ffffff;
    opacity: 0.1;
    z-index: 0;
    transform: skewX(0deg) scaleX(0);
    transition: all 0.5s ease;
}

.servicez .inner-box:hover:before {
    background: var(--dark);
    bottom: -10px;
}

.servicez .inner-box:hover h5 a {
    color: #ffffff;
}

.inner-box h5 {
    font-size: 30px;
    text-transform: capitalize;
    color: var(--dark);
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.1em;
    margin: 0;
}

.servicez .inner-box:hover .icon-box {
    color: var(--primary);
}

.servicez .inner-box .icon-box {
    position: relative;
    display: block;
    color: var(--primary);
    font-size: 64px;
    line-height: 1em;
    margin-bottom: 20px;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.servicez .inner-box:hover .text {
    color: #999b9f;
}

.servicez .link-box {
    position: absolute;
    right: 3px;
    bottom: 8px;
    width: 30px;
    height: 30px;
    z-index: 1;
}

.servicez .link-box a {
    position: relative;
    line-height: 30px;
    font-size: 20px;
    color: #ffffff;
}

.servicez .text {
    position: relative;
    display: block;
    color: var(--thm-text);
    padding: 12px 0px 0px;
    z-index: 1;
    line-height: 1.5;
}
 

.jarallax {
    width: 100%;
    height: 100%;
    margin-block: 46px;
    background: no-repeat center/cover url('../Assets/pr.jpg');
    background-attachment: fixed;
    color: white;
}

.jarallax p {
    color: white;
}