.main-footer {
    position: relative;
    color: #eee;
    /* background: var(--dark) url(../Assets/footer-bg.png) center top no-repeat; */
    background: var(--primary);
}

.main-footer .footer-bottom {
    position: relative;
    text-align: center;
}

.main-footer .logo-widget .text {
    position: relative;
    display: block;
    margin: 0 0 30px;
}

.text {
    line-height: 1.4;
    margin: 0 0;
}

.main-footer .logo-widget .logo {
    position: relative;
    margin-bottom: 26px;
}

.main-footer .social-links li a {
    position: relative;
    display: block;
    color: var(--primary);
    font-size: 16px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background: var(--white);
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.main-footer .info-widget ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: var(--white);
}

.main-footer .social-links li {
    position: relative;
    margin-right: 8px;
    display: inline-block;
}

.main-footer .social-links li a:hover {
    color: #ffffff;
    background: var(--primary);
}

.main-footer h6 {
    position: relative;
    font-size: 26px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.main-footer .links-widget ul li a {
    position: relative;
    color: #eee;
    line-height: 30px;
    text-transform: capitalize;
    transition: all 0.3s ease;
    padding-bottom: 2px;
}

.main-footer .links-widget ul li a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid var(--light);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
}

.main-footer .links-widget ul li a:hover {
    color: #ffffff;
}

.main-footer .links-widget ul li a:hover:before {
    transform: scaleX(1);
}

.main-footer .links-widget ul li {
    position: relative;
    margin-bottom: 3px;
}

.main-footer .info-widget ul li.address {
    margin-bottom: 20px;
}

.main-footer .info-widget ul li {
    position: relative;
    display: block;
    line-height: 32px;
    padding-left: 30px;
    margin-bottom: 5px;
}

.main-footer .info-widget ul li .icon {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 30px;
    font-size: 16px;
    color: var(--white);
}

.main-footer .info-widget ul li a {
    position: relative;
    color: #eee;
    line-height: 28px;
    transition: all 0.3s ease;
}

.main-footer .newsletter-form .form-group input[type="email"] {
    /* position: relative;
    width: 100%;
    line-height: 30px;
    padding: 20px 60px 20px 25px;
    height: 70px;
    display: block;
    font-size: 18px;
    background: #1c1e22;
    color: #ffffff;
    border-radius: 5px;
    font-family: var(--thm-b-font);
    border: 1px solid #1c1e22;
    transition: all 300ms ease;
    font-size: 14px; */
}

.main-footer .newsletter-form .form-group input[type="email"]:focus {
    border-color: var(--dark);
}

.main-footer .newsletter-form .form-group {
    position: relative;
    margin: 0;
    padding: 0;
}

.main-footer .footer-bottom .inner {
    position: relative;
    display: block;
    padding: 15px 0px;
    line-height: 30px;
    color: #eee;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.main-footer .newsletter-widget .text {
    position: relative;
    display: block;
    margin: 25px 0 0;
    font-size: 14px;
    line-height: 1.4;
}


footer .contact-info {
    padding: 0;
    position: relative;
}
footer section.section{
    padding-block: 75px;
}
.newsletter-form .form-group .theme-btn {
    position: absolute;
    right: 14px;
    top: 12px;
    width: 44px;
    height: 44px;
    background: var(--primary);
    color: var(--white);
    outline: none;
    border: none;
    border-radius: 50%;
}

.newsletter-form .form-group .theme-btn:hover {
    background: var(--light);
    color: var(--primary);
}

img#fLogo {
    width: 212px;
}

.main-footer .circle {
    position: absolute;
    top: -78px;
    right: -78px;
    width: 282px;
    height: 282px;
    background: #ffffff70;
    border-radius: 50%;
}

.main-footer .circle.circle-1 {
    position: absolute;
    left: -78px;
    width: 228px;
    height: 228px;
    background: #ffffff40;
    border-radius: 50%;
    z-index: 0;
    top: 405px;
}

@media (max-width:480px) {
    .newsletter-widget .widget-content {
        margin-top: 28px;
    }

    .main-footer .footer-bottom .inner {
        padding: 16px 0px;
    }
}

@media (max-width: 480px) {
    .main-footer .circle.circle-1 {
        top: 762px;
    }

    .copyright {
        font-size: 12px;
        margin-inline: 12px;
    }

    .main-footer section {
        padding-bottom: 30px;
    }

    .main-footer .newsletter-widget .text,
    .main-footer .footer-bottom .inner {
        line-height: 22px;
    }
}