.news-block {
    visibility: visible;
    animation-duration: 1500ms;
    animation-delay: 0ms;
    animation-name: fadeInUp;
    position: relative;
    margin-bottom: 30px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.news-block .inner-box {
    position: relative;
    display: block;
    text-align: center;
}

.news-block .image-box {
    position: relative;
    display: block;
    overflow: hidden;
}

.news-block .image-box img {
    display: block;
    width: 100%;
    filter: grayscale(100%);
    transition: all 500ms ease;
    border-radius: 7px;
}

.news-block .lower-box {
    position: relative;
    padding: 0px 20px 0px;
}

.news-block .post-meta {
    position: relative;
    top: -27px;
    margin: 0 10px -3px;
}

.news-block .post-meta ul {
    position: relative;
    display: block;
    padding: 12px 8px;
    background: #ffffff;
    border-radius: 7px;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 12%);
}

.news-block .post-meta ul li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.news-block .lower-box h5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 12px;
}

.news-block .lower-box .para {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.news-block .lower-box h5 a {
    color: var(--thm-black);
    transition: 500ms;
}

.news-block .lower-box .link-box {
    position: relative;
    margin-top: 20px;
}

.news-block .lower-box .link-box a {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    background: #d3d3d4;
    border-radius: 50%;
}

.news-block .lower-box .link-box a span {
    font-weight: 700;
    vertical-align: middle;
}

.news-block .inner-box:hover .image-box img {
    filter: grayscale(0%);
}

.news-block .lower-box h5 a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.news-block .lower-box .link-box a:hover {
    background: var(--primary);
}