.form-group {
    padding: 0px 10px;
    margin-bottom: 20px;
    position: relative;
}

.field-inner {
    position: relative;
    display: block;
}

input.light,
select.light,
textarea.light {
    position: relative;
    display: block;
    height: 70px;
    width: 100%;
    font-size: 14px;
    color: #686a6f;
    line-height: 40px;
    font-weight: 400;
    padding: 14px 30px;
    background-color: #f4f5f8;
    border: 1px solid #f4f5f8;
    border-radius: 7px;
    font-family: var(--thm-b-font);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    border-color: var(--primary);
}

.form-group textarea {
    height: 220px;
    resize: none;
}